.col {
  width: 13.5%;
  height: 93%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 0.4px solid transparentize(gray, 0.4);
  border-radius: 3px;
  font-size: 0.8em;
  span {
    margin: 4px 0 0 4px;
  }
  .not-valid {
    color: #686868;
  }
  img {
    opacity: 0.1;
  }
}
.col.cell.valid {
  &:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 1.5px 1.5px 0px 0px transparentize(#686868, 0.1);
    transform: scale(1.01);
    border: none;
    background: transparentize(#686868, 0.5);
  }
}
.col.cell.selected {
  box-shadow: 1.5px 1.5px 0px 0px transparentize(#aa5b42, 0.1);
  transform: scale(1.02);
  border: none;
  background: #f3c5b6;
  color: #aa5b42;
  font-weight: 600;
}
